language: node_js
node_js:
  - "node"
  - "lts/*"
  - "8"
  - "7"
  - "6"
sudo: false
cache: yarn
notifications:
  email: false
before_deploy:
  - npm pack
deploy:
  - provider: npm
    email: olivier@nadeva.fr
    api_key:
     secure: VQtyZ+OieSYLY1aS0IllC5CgdGld1wXTGC2ty0rXtLoyBUCc4YnxsjIdxnmNM3+4TbG+562i4VZsirGoLIJMGB6V+dSm7t1zhrvkaatJ68K2Fne4TxV2biaqAtLvZArXd8XaYtxYZA6+Fe3l1JzHZ8hv6amAdyY1PVN7M8Y7fhi2aNoIQLF3rvdaAZBkq0F68cdjozz0vicc/+ZIxTs3LM0hOWvVaVUYrk+d0/iAtZRWdWUOv/FdAhocLnIud97ALUMykEuAwA+avTwpb++pbGfbqlTBuGyOC4ao+G0SjdZA7vGasTy6Rdpekar+QlV5RhRmqJFlAw0OnFjdR5A6S8JgBNCtwyJK/ZLM3Qx6s2U+IxbJoN+0kbUXnGlN445f61wqGEJw7fyxUAicmOXv1ezv9NPmFHz3YdP8xpMTSDwqa+3L/RL+V0mCjnjoijcMhKhS/wq5X2zcJZK5NGeK2eLEEFXXMQKsex8TfjtHZUSVKL+FtPnlVKVQozI9B94K/xLZ00HQXbuyrVhqyiY7VExAkbjL8dH7X3BoUkgm6/2jwR5EiG56vTCeTzQmEq+nxTu7v3rX25oHVQ9vUjl5AkqjJOBBD4mOFXkOsi9Ynkmxa17txTVrvY+X8NGqvLic7V8VrgcEZfrpcBBU0WLoFe8J0BtA3HnLPG76Hr6DQ1A=
    on:
     repo: oltruong/hubot-gitlab-connector
     tags: true
     node_js: 'node'
  - provider: releases
    api_key:
     secure: UQ710bDILz7B+GKtlFNY/u4jgccy+m2W+ZevAFGzsTedxAMybR6HtOCForrl5G2jUduyirCYR5u10COI/E7qrwDM/aXhC6jrCiHsb4Syhbn3S5F+sLOpiSCRfb++JGbs5urLY8JtOMDyxsn6XYiOHnx8A4cVI78PXcCotC5YZz7WPYPuT1w23qcHC6XFdSuAsJ+khYHVeXxjytmW7uYF6AtuRIwj+H3g+xzUVdUYF+L3T95nQw+0Q3ADlHJpJUUo+Jvp87e2ljYhzORQWKJ35/t3I0eR3VNIAQ71W5qkW0e/bOoE1Zd/zKxx7z8yDLCXLBrUDz/1QtzDZBn17JwsJlAOxTAIvo/kdQj8xepl0vCBFKUqF+FP8aqvZmxvAv05WKskn7DZ2z17CncizLe8T4xoGnXFPbdQGya7dg3Njw0+EKByVWfk24qCcH8i7J2NLH3yEeuTWiyMLbJRYxSOa6U34Oc5ODLp6lsWFQWkZWcd1AGNu5WsK9iMnR8i5BwFE/owV1aHaHK3Nmw6vfL9oPuS+dLoIhLnRxnopHksgp2AAHKcI/nLWvZ3HXVtzS+4eAhZwC2tJHhGlBJdnXuIEqyi835OYoZaT3NcQDWAhMAxm1/uKMf23U0QK4YUm76BqxWFBbNcCYxxJ9Ao1yFJj7RT1RhYw18fk9kHA4i/kss=
    file: hubot-gitlab-connector-0.0.3.tgz
    on:
     repo: oltruong/hubot-gitlab-connector
     tags: true
     node_js: 'node'
